# Argos Capstone Project

## **First Workbook**
> ### *"Account_USA - AK"*

##### Set working directory and import libraries

In [1]:
import os
os.getcwd()
os.chdir('/Users/brandonmorgeson/Desktop/Capstone')

In [2]:
import numpy as np 
import pandas as pd 
import openpyxl as op

### Map Excel Workbook

In [123]:
xlsx_usa = pd.ExcelFile('Account_USA - AK.xlsx')

#### Get Excel Worksheet Names

In [124]:
sheet_names_ = xlsx_usa.sheet_names

In [125]:
sheet_names_

['Account_USA',
 'Data',
 'Pivot',
 'Top 8',
 'District Division Total',
 'Segment Total',
 'Chanel Total',
 'Top Customers - Parent ID',
 'Parent ID and Customer',
 'Useless Columns',
 'Questions']

In [127]:
len(sheet_names_)

11

### Create dataframe for worksheet

##### *Worksheet 1 "Account_USA"*

In [128]:
_df = pd.read_excel(xlsx_usa, sheet_names_[0])

##### *Worksheet 2 "Data"*

In [129]:
_df1 = pd.read_excel(xlsx_usa, sheet_names_[1])

##### *Worksheet 3 "Pivot"*

In [130]:
_df2 = pd.read_excel(xlsx_usa, sheet_names_[2])

##### *Worksheet 4 "Top 8"*

In [131]:
_df3 = pd.read_excel(xlsx_usa, sheet_names_[3])

##### *Worksheet 5 "District Divison Total"*

In [132]:
_df4 = pd.read_excel(xlsx_usa, sheet_names_[4])

##### *Worksheet 6 "Segment Total"*

In [133]:
_df5 = pd.read_excel(xlsx_usa, sheet_names_[5])

##### *Worksheet 7 "'Chanel Total'

In [134]:
_df6 = pd.read_excel(xlsx_usa, sheet_names_[6])

##### *Worksheet 8 "Top Customers - Parent ID"*

In [135]:
_df7 = pd.read_excel(xlsx_usa, sheet_names_[7])

##### *Worksheet 9 "Parent ID and Customer"*

In [136]:
_df8 = pd.read_excel(xlsx_usa, sheet_names_[8])

##### *Worksheet 10 "Useless Columns"*

In [137]:
_df9 = pd.read_excel(xlsx_usa, sheet_names_[7])

##### *Worksheet 11 "Questions"*

In [138]:
_df10 = pd.read_excel(xlsx_usa, sheet_names_[8])

### Inspect Data

##### Worksheet 1

In [139]:
_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14904 entries, 0 to 14903
Data columns (total 96 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Id                               14904 non-null  object
 1   IsDeleted                        14904 non-null  bool
 2   MasterRecordId                   0 non-null      float64
 3   Name                             14904 non-null  object
 4   LastName                         0 non-null      float64
 5   FirstName                        0 non-null      float64
 6   Salutation                       0 non-null      float64
 7   Type                             14904 non-null  object
 8   RecordTypeId                     14904 non-null  object
 9   ParentId                         9322 non-null   object
 10  BillingStreet                    14886 non-null  object
 11  BillingCity                      14890 non-null  object
 12  BillingState                     14888 non-null  object
 13  BillingPostalCode                14883 non-null  object
 14  BillingCountry                   14869 non-null  object
 15  ShippingStreet                   0 non-null      float64
 16  ShippingCity                     0 non-null      float64
 17  ShippingState                    0 non-null      float64
 18  ShippingPostalCode               0 non-null      float64
 19  ShippingCountry                  0 non-null      float64
 20  Phone                            3031 non-null   object
 21  Fax                              551 non-null    object
 22  AccountNumber                    14815 non-null  object
 23  Website                          34 non-null     object
 24  Sic                              0 non-null      float64
 25  Industry                         0 non-null      float64
 26  AnnualRevenue                    0 non-null      float64
 27  NumberOfEmployees                0 non-null      float64
 28  Ownership                        176 non-null    object
 29  TickerSymbol                     0 non-null      float64
 30  Description                      99 non-null     object
 31  Rating                           0 non-null      float64
 32  Site                             0 non-null      float64
 33  OwnerId                          14904 non-null  object
 34  CreatedDate                      14904 non-null  object
 35  CreatedById                      14904 non-null  object
 36  LastModifiedDate                 14904 non-null  object
 37  LastModifiedById                 14904 non-null  object
 38  SystemModstamp                   14904 non-null  object
 39  LastActivityDate                 638 non-null    object
 40  PersonContactId                  0 non-null      float64
 41  IsPersonAccount                  14904 non-null  bool
 42  PersonMailingStreet              0 non-null      float64
 43  PersonMailingCity                0 non-null      float64
 44  PersonMailingState               0 non-null      float64
 45  PersonMailingPostalCode          0 non-null      float64
 46  PersonMailingCountry             0 non-null      float64
 47  PersonMobilePhone                0 non-null      float64
 48  PersonEmail                      0 non-null      float64
 49  PersonTitle                      0 non-null      float64
 50  PersonDepartment                 0 non-null      float64
 51  PersonLastCURequestDate          0 non-null      float64
 52  PersonLastCUUpdateDate           0 non-null      float64
 53  PersonEmailBouncedReason         0 non-null      float64
 54  PersonEmailBouncedDate           0 non-null      float64
 55  Status__c                        14815 non-null  object
 56  Cell_Phone__c                    1153 non-null   object
 57  Business_Unit__c                 14904 non-null  object
 58  Pay_Condition__c                 3731 non-null   object
 59  SAP_Code__c                      14815 non-null  object
 60  SAP_Code_by_Sale_Org__c          14815 non-null  object
 61  Sales_Organization__c            14904 non-null  object
 62  Sub_Segment__c                   0 non-null      float64
 63  Search_Term_2__c                 14904 non-null  object
 64  Tax_Id__c                        84 non-null     object
 65  eMail__c                         2582 non-null   object
 66  Key_Account__c                   14904 non-null  bool
 67  No_of_Silos__c                   249 non-null    float64
 68  No_of_Trucks__c                  153 non-null    float64
 69  Billing_County__c                2910 non-null   object
 70  District_Division__c             14904 non-null  object
 71  Sub_Market__c                    0 non-null      float64
 72  Segment__c                       14811 non-null  object
 73  Channel__c                       14878 non-null  object
 74  Sub_Channel__c                   14798 non-null  object
 75  Sales_Group__c                   14891 non-null  object
 76  Sales_Office__c                  14818 non-null  object
 77  Is_RMX_Generic_Account__c        14904 non-null  bool
 78  Difference__c                    14904 non-null  bool
 79  Is_Generic_Account__c            14904 non-null  bool
 80  ID_Salesforce__c                 14904 non-null  object
 81  Ship__c                          11872 non-null  object
 82  Data_Quality_Description__c      14904 non-null  object
 83  Data_Quality_Score__c            14904 non-null  int64
 84  Operational_Standing__c          5258 non-null   object
 85  Other_Address__pc                0 non-null      float64
 86  Other_Phone__pc                  0 non-null      float64
 87  Phone_Type__pc                   0 non-null      float64
 88  Other_Phone_Type__pc             0 non-null      float64
 89  Department__pc                   0 non-null      float64
 90  Price_Increase_Contact__pc       14904 non-null  bool
 91  Argos_ONE_RMX_Account_Admin__pc  14904 non-null  bool
 92  Data_Quality_Description__pc     14904 non-null  object
 93  Data_Quality_Score__pc           14904 non-null  int64
 94  Argos_ONE_RMX_Usage__pc          0 non-null      float64
 95  Argos_ONE_BillPay_Usage__pc      0 non-null      float64
dtypes: bool(8), float64(41), int64(2), object(45)
memory usage: 10.1+ MB

In [142]:
_df.describe()

,MasterRecordId,LastName,FirstName,Salutation,ShippingStreet,ShippingCity,ShippingState,ShippingPostalCode,ShippingCountry,Sic,...,Sub_Market__c,Data_Quality_Score__c,Other_Address__pc,Other_Phone__pc,Phone_Type__pc,Other_Phone_Type__pc,Department__pc,Data_Quality_Score__pc,Argos_ONE_RMX_Usage__pc,Argos_ONE_BillPay_Usage__pc
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,14904.000000,0.0,0.0,0.0,0.0,0.0,14904.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.348631,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.673780,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [143]:
_df.head()

,Id,IsDeleted,MasterRecordId,Name,LastName,FirstName,Salutation,Type,RecordTypeId,ParentId,...,Other_Phone__pc,Phone_Type__pc,Other_Phone_Type__pc,Department__pc,Price_Increase_Contact__pc,Argos_ONE_RMX_Account_Admin__pc,Data_Quality_Description__pc,Data_Quality_Score__pc,Argos_ONE_RMX_Usage__pc,Argos_ONE_BillPay_Usage__pc
0,0013u00000sjexuAAA,False,NaN,SMYRNA READY MIX CONCRETE LLC,NaN,NaN,NaN,Customer,0126A000000ylybQAA,0016A00000TLf3yQAD,...,NaN,NaN,NaN,NaN,False,False,"Missing: Phone, Email, Department, Job Title,",0,NaN,NaN
1,0013u00000sjezHAAQ,False,NaN,SITE PREP INC OF NC JOB 2555,NaN,NaN,NaN,Customer,0126A000000ylybQAA,0016A00000TLdOcQAL,...,NaN,NaN,NaN,NaN,False,False,"Missing: Phone, Email, Department, Job Title,",0,NaN,NaN
2,0013u00000sjf0KAAQ,False,NaN,ACME BRICK COMPANY RINCON & BLUFFTON APARTMENTS,NaN,NaN,NaN,Customer,0126A000000ylybQAA,0016A00000TLf1qQAD,...,NaN,NaN,NaN,NaN,False,False,"Missing: Phone, Email, Department, Job Title,",0,NaN,NaN
3,0013u00000sjf0eAAA,False,NaN,ROCK SOLID STABILIZATION TERRELL SOLAR,NaN,NaN,NaN,Customer,0126A000000ylybQAA,0016A00000TLdGSQA1,...,NaN,NaN,NaN,NaN,False,False,"Missing: Phone, Email, Department, Job Title,",0,NaN,NaN
4,0013u00000sjf1SAAQ,False,NaN,BELTSVILLE CONSTRUCTION SUPPLY INC,NaN,NaN,NaN,Customer,0126A000000ylybQAA,NaN,...,NaN,NaN,NaN,NaN,False,False,"Missing: Phone, Email, Department, Job Title,",0,NaN,NaN

In [144]:
_df["IsDeleted"].value_counts().head(6)

False    14904
Name: IsDeleted, dtype: int64

#### Count missing values in each column

In [ ]:
#column_names = list(df.columns)
#for column in range(0,len(column_names)):
#    print(df[column_names[column]].isna().value_counts())

In [145]:
_df.isna().sum().to_dict()

{'Id': 0,
 'IsDeleted': 0,
 'MasterRecordId': 14904,
 'Name': 0,
 'LastName': 14904,
 'FirstName': 14904,
 'Salutation': 14904,
 'Type': 0,
 'RecordTypeId': 0,
 'ParentId': 5582,
 'BillingStreet': 18,
 'BillingCity': 14,
 'BillingState': 16,
 'BillingPostalCode': 21,
 'BillingCountry': 35,
 'ShippingStreet': 14904,
 'ShippingCity': 14904,
 'ShippingState': 14904,
 'ShippingPostalCode': 14904,
 'ShippingCountry': 14904,
 'Phone': 11873,
 'Fax': 14353,
 'AccountNumber': 89,
 'Website': 14870,
 'Sic': 14904,
 'Industry': 14904,
 'AnnualRevenue': 14904,
 'NumberOfEmployees': 14904,
 'Ownership': 14728,
 'TickerSymbol': 14904,
 'Description': 14805,
 'Rating': 14904,
 'Site': 14904,
 'OwnerId': 0,
 'CreatedDate': 0,
 'CreatedById': 0,
 'LastModifiedDate': 0,
 'LastModifiedById': 0,
 'SystemModstamp': 0,
 'LastActivityDate': 14266,
 'PersonContactId': 14904,
 'IsPersonAccount': 0,
 'PersonMailingStreet': 14904,
 'PersonMailingCity': 14904,
 'PersonMailingState': 14904,
 'PersonMailingPostalCode': 14904,
 'PersonMailingCountry': 14904,
 'PersonMobilePhone': 14904,
 'PersonEmail': 14904,
 'PersonTitle': 14904,
 'PersonDepartment': 14904,
 'PersonLastCURequestDate': 14904,
 'PersonLastCUUpdateDate': 14904,
 'PersonEmailBouncedReason': 14904,
 'PersonEmailBouncedDate': 14904,
 'Status__c': 89,
 'Cell_Phone__c': 13751,
 'Business_Unit__c': 0,
 'Pay_Condition__c': 11173,
 'SAP_Code__c': 89,
 'SAP_Code_by_Sale_Org__c': 89,
 'Sales_Organization__c': 0,
 'Sub_Segment__c': 14904,
 'Search_Term_2__c': 0,
 'Tax_Id__c': 14820,
 'eMail__c': 12322,
 'Key_Account__c': 0,
 'No_of_Silos__c': 14655,
 'No_of_Trucks__c': 14751,
 'Billing_County__c': 11994,
 'District_Division__c': 0,
 'Sub_Market__c': 14904,
 'Segment__c': 93,
 'Channel__c': 26,
 'Sub_Channel__c': 106,
 'Sales_Group__c': 13,
 'Sales_Office__c': 86,
 'Is_RMX_Generic_Account__c': 0,
 'Difference__c': 0,
 'Is_Generic_Account__c': 0,
 'ID_Salesforce__c': 0,
 'Ship__c': 3032,
 'Data_Quality_Description__c': 0,
 'Data_Quality_Score__c': 0,
 'Operational_Standing__c': 9646,
 'Other_Address__pc': 14904,
 'Other_Phone__pc': 14904,
 'Phone_Type__pc': 14904,
 'Other_Phone_Type__pc': 14904,
 'Department__pc': 14904,
 'Price_Increase_Contact__pc': 0,
 'Argos_ONE_RMX_Account_Admin__pc': 0,
 'Data_Quality_Description__pc': 0,
 'Data_Quality_Score__pc': 0,
 'Argos_ONE_RMX_Usage__pc': 14904,
 'Argos_ONE_BillPay_Usage__pc': 14904}

##### Worksheet 2

In [161]:
_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14904 entries, 0 to 14903
Data columns (total 96 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Id                               14904 non-null  object
 1   IsDeleted                        14904 non-null  bool
 2   MasterRecordId                   0 non-null      float64
 3   Name                             14904 non-null  object
 4   LastName                         0 non-null      float64
 5   FirstName                        0 non-null      float64
 6   Salutation                       0 non-null      float64
 7   Type                             14904 non-null  object
 8   RecordTypeId                     14904 non-null  object
 9   ParentId                         9322 non-null   object
 10  BillingStreet                    14886 non-null  object
 11  BillingCity                      14890 non-null  object
 12  BillingState                     14888 non-null  object
 13  BillingPostalCode                14883 non-null  object
 14  BillingCountry                   14869 non-null  object
 15  ShippingStreet                   0 non-null      float64
 16  ShippingCity                     0 non-null      float64
 17  ShippingState                    0 non-null      float64
 18  ShippingPostalCode               0 non-null      float64
 19  ShippingCountry                  0 non-null      float64
 20  Phone                            3031 non-null   object
 21  Fax                              551 non-null    object
 22  AccountNumber                    14815 non-null  object
 23  Website                          34 non-null     object
 24  Sic                              0 non-null      float64
 25  Industry                         0 non-null      float64
 26  AnnualRevenue                    0 non-null      float64
 27  NumberOfEmployees                0 non-null      float64
 28  Ownership                        176 non-null    object
 29  TickerSymbol                     0 non-null      float64
 30  Description                      99 non-null     object
 31  Rating                           0 non-null      float64
 32  Site                             0 non-null      float64
 33  OwnerId                          14904 non-null  object
 34  CreatedDate                      14904 non-null  object
 35  CreatedById                      14904 non-null  object
 36  LastModifiedDate                 14904 non-null  object
 37  LastModifiedById                 14904 non-null  object
 38  SystemModstamp                   14904 non-null  object
 39  LastActivityDate                 638 non-null    object
 40  PersonContactId                  0 non-null      float64
 41  IsPersonAccount                  14904 non-null  bool
 42  PersonMailingStreet              0 non-null      float64
 43  PersonMailingCity                0 non-null      float64
 44  PersonMailingState               0 non-null      float64
 45  PersonMailingPostalCode          0 non-null      float64
 46  PersonMailingCountry             0 non-null      float64
 47  PersonMobilePhone                0 non-null      float64
 48  PersonEmail                      0 non-null      float64
 49  PersonTitle                      0 non-null      float64
 50  PersonDepartment                 0 non-null      float64
 51  PersonLastCURequestDate          0 non-null      float64
 52  PersonLastCUUpdateDate           0 non-null      float64
 53  PersonEmailBouncedReason         0 non-null      float64
 54  PersonEmailBouncedDate           0 non-null      float64
 55  Status__c                        14815 non-null  object
 56  Cell_Phone__c                    1153 non-null   object
 57  Business_Unit__c                 14904 non-null  object
 58  Pay_Condition__c                 3731 non-null   object
 59  SAP_Code__c                      14815 non-null  object
 60  SAP_Code_by_Sale_Org__c          14815 non-null  object
 61  Sales_Organization__c            14904 non-null  object
 62  Sub_Segment__c                   0 non-null      float64
 63  Search_Term_2__c                 14904 non-null  object
 64  Tax_Id__c                        84 non-null     object
 65  eMail__c                         2582 non-null   object
 66  Key_Account__c                   14904 non-null  bool
 67  No_of_Silos__c                   249 non-null    float64
 68  No_of_Trucks__c                  153 non-null    float64
 69  Billing_County__c                2910 non-null   object
 70  District_Division__c             14904 non-null  object
 71  Sub_Market__c                    0 non-null      float64
 72  Segment__c                       14811 non-null  object
 73  Channel__c                       14878 non-null  object
 74  Sub_Channel__c                   14798 non-null  object
 75  Sales_Group__c                   14891 non-null  object
 76  Sales_Office__c                  14818 non-null  object
 77  Is_RMX_Generic_Account__c        14904 non-null  bool
 78  Difference__c                    14904 non-null  bool
 79  Is_Generic_Account__c            14904 non-null  bool
 80  ID_Salesforce__c                 14904 non-null  object
 81  Ship__c                          11872 non-null  object
 82  Data_Quality_Description__c      14904 non-null  object
 83  Data_Quality_Score__c            14904 non-null  int64
 84  Operational_Standing__c          5258 non-null   object
 85  Other_Address__pc                0 non-null      float64
 86  Other_Phone__pc                  0 non-null      float64
 87  Phone_Type__pc                   0 non-null      float64
 88  Other_Phone_Type__pc             0 non-null      float64
 89  Department__pc                   0 non-null      float64
 90  Price_Increase_Contact__pc       14904 non-null  bool
 91  Argos_ONE_RMX_Account_Admin__pc  14904 non-null  bool
 92  Data_Quality_Description__pc     14904 non-null  object
 93  Data_Quality_Score__pc           14904 non-null  int64
 94  Argos_ONE_RMX_Usage__pc          0 non-null      float64
 95  Argos_ONE_BillPay_Usage__pc      0 non-null      float64
dtypes: bool(8), float64(41), int64(2), object(45)
memory usage: 10.1+ MB

AttributeError: 'NoneType' object has no attribute 'head'

In [147]:
_df1.describe()

,MasterRecordId,LastName,FirstName,Salutation,ShippingStreet,ShippingCity,ShippingState,ShippingPostalCode,ShippingCountry,Sic,...,Sub_Market__c,Data_Quality_Score__c,Other_Address__pc,Other_Phone__pc,Phone_Type__pc,Other_Phone_Type__pc,Department__pc,Data_Quality_Score__pc,Argos_ONE_RMX_Usage__pc,Argos_ONE_BillPay_Usage__pc
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,14904.000000,0.0,0.0,0.0,0.0,0.0,14904.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.348631,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.673780,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [148]:
_df1.isna().sum().to_dict()

{'Id': 0,
 'IsDeleted': 0,
 'MasterRecordId': 14904,
 'Name': 0,
 'LastName': 14904,
 'FirstName': 14904,
 'Salutation': 14904,
 'Type': 0,
 'RecordTypeId': 0,
 'ParentId': 5582,
 'BillingStreet': 18,
 'BillingCity': 14,
 'BillingState': 16,
 'BillingPostalCode': 21,
 'BillingCountry': 35,
 'ShippingStreet': 14904,
 'ShippingCity': 14904,
 'ShippingState': 14904,
 'ShippingPostalCode': 14904,
 'ShippingCountry': 14904,
 'Phone': 11873,
 'Fax': 14353,
 'AccountNumber': 89,
 'Website': 14870,
 'Sic': 14904,
 'Industry': 14904,
 'AnnualRevenue': 14904,
 'NumberOfEmployees': 14904,
 'Ownership': 14728,
 'TickerSymbol': 14904,
 'Description': 14805,
 'Rating': 14904,
 'Site': 14904,
 'OwnerId': 0,
 'CreatedDate': 0,
 'CreatedById': 0,
 'LastModifiedDate': 0,
 'LastModifiedById': 0,
 'SystemModstamp': 0,
 'LastActivityDate': 14266,
 'PersonContactId': 14904,
 'IsPersonAccount': 0,
 'PersonMailingStreet': 14904,
 'PersonMailingCity': 14904,
 'PersonMailingState': 14904,
 'PersonMailingPostalCode': 14904,
 'PersonMailingCountry': 14904,
 'PersonMobilePhone': 14904,
 'PersonEmail': 14904,
 'PersonTitle': 14904,
 'PersonDepartment': 14904,
 'PersonLastCURequestDate': 14904,
 'PersonLastCUUpdateDate': 14904,
 'PersonEmailBouncedReason': 14904,
 'PersonEmailBouncedDate': 14904,
 'Status__c': 89,
 'Cell_Phone__c': 13751,
 'Business_Unit__c': 0,
 'Pay_Condition__c': 11173,
 'SAP_Code__c': 89,
 'SAP_Code_by_Sale_Org__c': 89,
 'Sales_Organization__c': 0,
 'Sub_Segment__c': 14904,
 'Search_Term_2__c': 0,
 'Tax_Id__c': 14820,
 'eMail__c': 12322,
 'Key_Account__c': 0,
 'No_of_Silos__c': 14655,
 'No_of_Trucks__c': 14751,
 'Billing_County__c': 11994,
 'District_Division__c': 0,
 'Sub_Market__c': 14904,
 'Segment__c': 93,
 'Channel__c': 26,
 'Sub_Channel__c': 106,
 'Sales_Group__c': 13,
 'Sales_Office__c': 86,
 'Is_RMX_Generic_Account__c': 0,
 'Difference__c': 0,
 'Is_Generic_Account__c': 0,
 'ID_Salesforce__c': 0,
 'Ship__c': 3032,
 'Data_Quality_Description__c': 0,
 'Data_Quality_Score__c': 0,
 'Operational_Standing__c': 9646,
 'Other_Address__pc': 14904,
 'Other_Phone__pc': 14904,
 'Phone_Type__pc': 14904,
 'Other_Phone_Type__pc': 14904,
 'Department__pc': 14904,
 'Price_Increase_Contact__pc': 0,
 'Argos_ONE_RMX_Account_Admin__pc': 0,
 'Data_Quality_Description__pc': 0,
 'Data_Quality_Score__pc': 0,
 'Argos_ONE_RMX_Usage__pc': 14904,
 'Argos_ONE_BillPay_Usage__pc': 14904}

##### It looks like worksheet 1 & 2 are the exact same

##### Worksheet 3

In [149]:
_df2.head()

       Unnamed: 0                     Unnamed: 1
0             NaN                            NaN
1      Row Labels  Count of District_Division__c
2       Carolinas                           5408
3      Deep South                           4080
4  Exports Office                              4

##### Worksheet 4

In [150]:
_df3.head(10)

,Rank,Parent ID,Name,Number of Records
0,1,0016A00000TLdGhQAL,ATLANTA PAVING & CONCRETE CONSTRUCTION,848.0
1,2,0016A00000TLdN6QAL,RUSTON PAVING CO INC,374.0
2,3,0016A00000TLdGpQAL,SANDERS BROTHERS CONSTR CO INC,317.0
3,4,0016A00000TLdVQQA1,SMYRNA READY MIX CONCRETE LLC PUNTA GORDA PLANT,312.0
4,5,0016A00000TLey9QAD,ADAMS PRODUCTS,190.0
5,6,0016A00000TLdOcQAL,SITE PREP INC OF NC,137.0
6,7,0016A00000TLd9OQAT,C R JACKSON INC,123.0
7,8,0016A00000TLesOQAT,SUNBELT ASPHALT SURFACES INC,118.0
8,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN

##### Worksheet 5

In [152]:
print(_df4)

   District Division  Total of District Division
0        Grand Total                       14904
1          Carolinas                        5408
2         Deep South                        4080
3       Mid Atlantic                        1826
4            Florida                        1823
5           Mid East                         971
6              Texas                         365
7   Wholesales South                         277
8        Whole sales                          75
9      Out of Region                          47
10  Wholesales North                          28
11    Exports Office                           4

##### Worksheet 6

In [153]:
print(_df5)

                      Segment   Total of Segment
0                  Grand Total           14811.0
1      421-Basic Buyer-Low Tec           12099.0
2                       430-NA            1417.0
3     422-Performance Driven-H             367.0
4    421 - Basic Buyer-Low Tec             232.0
5     420-Basic Buyer-High Tec             227.0
6      425-Relation Driven-Low             204.0
7      427-External - Strenght             167.0
8     423-Performance Driven-L              37.0
9   422 - Performance Driven-H              21.0
10    424-Relation Driven-High              12.0
11        Relation Driven-High               9.0
12        Basic Buyer-High Tec               5.0
13         Basic Buyer-Low Tec               5.0
14  420 - Basic Buyer-High Tec               4.0
15   425 - Relation Driven-Low               2.0
16  423 - Performance Driven-L               1.0
17     429-Internal - Strenght               1.0
18        Performance Driven-H               1.0
19                     (blank)               NaN

In [154]:
print(_df6)

                     Chanel  Total of Chanel Type
0               Grand Total               14878.0
1             42-Contractor                5980.0
2               44-Reseller                4181.0
3              43-Ready Mix                2233.0
4                400-Market                1118.0
5      41-Concrete Products                 876.0
6                  45-Other                 238.0
7             40-Wholesales                  48.0
8   U2-Non-Residential Bldg                  40.0
9            04-CONSTRUCTOR                  33.0
10                 ReadyMix                  30.0
11            44 - Reseller                  18.0
12               Contractor                  17.0
13                 Reseller                  15.0
14         ConcreteProducts                  11.0
15           43 - Ready Mix                   9.0
16                   Others                   7.0
17            01-CONCRETERA                   6.0
18          40 - Wholesales                   5.0
19   41 - Concrete Products                   4.0
20            404-Associate                   2.0
21          42 - Contractor                   2.0
22       17-COMERCIALIZADOR                   1.0
23  406-Competitor Afiliate                   1.0
24               45 - Other                   1.0
25       47-INFRAESTRUCTURA                   1.0
26                 U3-Civil                   1.0
27                  (blank)                   NaN

In [156]:
_df7.head()

,Parent ID,Count of ParentId,Name,Unnamed: 3,*Not sure if this is a great way to define each parent ID with name because there are multiple versions of one name for each
0,Grand Total,9322.0,NaN,NaN,NaN
1,0016A00000TLdGhQAL,848.0,ATLANTA PAVING & CONCRETE CONSTR,NaN,NaN
2,0016A00000TLdN6QAL,374.0,RUSTON PAVING CO INC LEXINGTON ESTATES,NaN,NaN
3,0016A00000TLdGpQAL,317.0,SANDERS BROTHERS CONSTR CO INC,NaN,NaN
4,0016A00000TLdVQQA1,312.0,SMYRNA READY MIX CONCRETE LLC PUNTA GORDA PLANT,NaN,NaN

In [157]:
_df8.head()

            Parent ID                                             Name
0  0016A00000TLf3yQAD                    SMYRNA READY MIX CONCRETE LLC
1  0016A00000TLdOcQAL                     SITE PREP INC OF NC JOB 2555
2  0016A00000TLf1qQAD  ACME BRICK COMPANY RINCON & BLUFFTON APARTMENTS
3  0016A00000TLdGSQA1           ROCK SOLID STABILIZATION TERRELL SOLAR
4                 NaN               BELTSVILLE CONSTRUCTION SUPPLY INC

In [158]:
_df9.head()

,Parent ID,Count of ParentId,Name,Unnamed: 3,*Not sure if this is a great way to define each parent ID with name because there are multiple versions of one name for each
0,Grand Total,9322.0,NaN,NaN,NaN
1,0016A00000TLdGhQAL,848.0,ATLANTA PAVING & CONCRETE CONSTR,NaN,NaN
2,0016A00000TLdN6QAL,374.0,RUSTON PAVING CO INC LEXINGTON ESTATES,NaN,NaN
3,0016A00000TLdGpQAL,317.0,SANDERS BROTHERS CONSTR CO INC,NaN,NaN
4,0016A00000TLdVQQA1,312.0,SMYRNA READY MIX CONCRETE LLC PUNTA GORDA PLANT,NaN,NaN

In [159]:
_df10.head()

            Parent ID                                             Name
0  0016A00000TLf3yQAD                    SMYRNA READY MIX CONCRETE LLC
1  0016A00000TLdOcQAL                     SITE PREP INC OF NC JOB 2555
2  0016A00000TLf1qQAD  ACME BRICK COMPANY RINCON & BLUFFTON APARTMENTS
3  0016A00000TLdGSQA1           ROCK SOLID STABILIZATION TERRELL SOLAR
4                 NaN               BELTSVILLE CONSTRUCTION SUPPLY INC

## **Second Workbook**
> ### *"RMX_Accounts_invoice"*

##### Set working directory and import libraries

In [1]:
import os
os.getcwd()
os.chdir('/Users/brandonmorgeson/Desktop/Capstone')

In [2]:
import numpy as np 
import pandas as pd 
import openpyxl as op

### Map Excel Workbook

In [3]:
xlsx = pd.ExcelFile('RMX_Accounts_invoice - AK.xlsx')

#### Get Excel Worksheet Names

In [4]:
sheet_names = xlsx.sheet_names

In [5]:
sheet_names

['RMX_Accounts_invoice',
 'RMX_Accounts_invoice - AK',
 'Payer Division',
 'Payer Top State',
 'Payer Type',
 'Sub-Segment']

In [6]:
len(sheet_names)

6

### Create dataframe for worksheet

##### *Worksheet 1 "RMX_Accounts_invoice"*

In [7]:
df = pd.read_excel(xlsx, sheet_names[0])

##### *Worksheet 2 "RMX_Accounts_invoice - AK"*

In [8]:
df1 = pd.read_excel(xlsx, sheet_names[1])

##### *Worksheet 3 "Payer Divison"*

In [9]:
df2 = pd.read_excel(xlsx, sheet_names[2])

##### *Worksheet 4 "Payer Top State"*

In [10]:
df3 = pd.read_excel(xlsx, sheet_names[3])

##### *Worksheet 5 "Payer Type"*

In [11]:
df4 = pd.read_excel(xlsx, sheet_names[4])

##### *Worksheet 6 "Sub-Segment"*

In [12]:
df5 = pd.read_excel(xlsx, sheet_names[5])

### Inspect Data

##### Worksheet 1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477645 entries, 0 to 477644
Data columns (total 10 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Payer_Type                    477645 non-null  object
 1   Payer_District_Division       477420 non-null  object
 2   Payer_Channel                 477645 non-null  object
 3   Payer_Sales_Group_Sub_Market  477645 non-null  object
 4   Invoice_Number                445619 non-null  object
 5   Payer_State_Province          445619 non-null  object
 6   Payer_RMX_Sub_Segment         273441 non-null  object
 7   Payer_RMX_Segment             273441 non-null  object
 8   Payer_SAP_Status              415902 non-null  object
 9   Payer_SAP_Code                415902 non-null  float64
dtypes: float64(1), object(9)
memory usage: 36.4+ MB

In [24]:
df.describe()

       Payer_SAP_Code
count   415902.000000
mean     36349.950597
std      32394.950842
min        951.000000
25%      14675.000000
50%      20026.000000
75%      45079.000000
max     134154.000000

In [15]:
df.head()

,Payer_Type,Payer_District_Division,Payer_Channel,Payer_Sales_Group_Sub_Market,Invoice_Number,Payer_State_Province,Payer_RMX_Sub_Segment,Payer_RMX_Segment,Payer_SAP_Status,Payer_SAP_Code
0,Customer,Jacksonville divisio,U2-Non-Residential Bldg,U18-Jacksonville divisio,92676710,FL,Other Commercial,Commercial,Active,113496.0
1,Customer,Jacksonville divisio,U2-Non-Residential Bldg,U18-Jacksonville divisio,92380768,FL,Other Commercial,Commercial,Active,113496.0
2,Customer,Jacksonville divisio,U2-Non-Residential Bldg,U18-Jacksonville divisio,92286652,FL,Other Commercial,Commercial,Active,113496.0
3,Customer,Dallas,U1-Residential Bldg,U16-Dallas,92180098,TX,NaN,NaN,Active,105611.0
4,Customer,Atlanta,U1-Residential Bldg,U10-Atlanta,92810234,GA,Single Family,Residential,Active,9004.0

In [91]:
df["Payer_State_Province"].value_counts().head(6)

GA             140366
FL             136729
NC              61508
TX              41320
Residential     19582
SC              13711
Name: Payer_State_Province, dtype: int64

#### Count missing values in each column

In [ ]:
#column_names = list(df.columns)
#for column in range(0,len(column_names)):
#    print(df[column_names[column]].isna().value_counts())

In [86]:
df.isna().sum().to_dict()

{'Payer_Type': 0,
 'Payer_District_Division': 225,
 'Payer_Channel': 0,
 'Payer_Sales_Group_Sub_Market': 0,
 'Invoice_Number': 32026,
 'Payer_State_Province': 32026,
 'Payer_RMX_Sub_Segment': 204204,
 'Payer_RMX_Segment': 204204,
 'Payer_SAP_Status': 61743,
 'Payer_SAP_Code': 61743}

##### Worksheet 2

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477645 entries, 0 to 477644
Data columns (total 10 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Payer_Type                    477645 non-null  object
 1   Payer_District_Division       477420 non-null  object
 2   Payer_Channel                 477645 non-null  object
 3   Payer_Sales_Group_Sub_Market  477645 non-null  object
 4   Invoice_Number                445619 non-null  object
 5   Payer_State_Province          445619 non-null  object
 6   Payer_RMX_Sub_Segment         273441 non-null  object
 7   Payer_RMX_Segment             273441 non-null  object
 8   Payer_SAP_Status              415902 non-null  object
 9   Payer_SAP_Code                415902 non-null  float64
dtypes: float64(1), object(9)
memory usage: 36.4+ MB

In [17]:
df1.describe()

       Payer_SAP_Code
count   415902.000000
mean     36349.950597
std      32394.950842
min        951.000000
25%      14675.000000
50%      20026.000000
75%      45079.000000
max     134154.000000

In [92]:
df1.isna().sum().to_dict()

{'Payer_Type': 0,
 'Payer_District_Division': 225,
 'Payer_Channel': 0,
 'Payer_Sales_Group_Sub_Market': 0,
 'Invoice_Number': 32026,
 'Payer_State_Province': 32026,
 'Payer_RMX_Sub_Segment': 204204,
 'Payer_RMX_Segment': 204204,
 'Payer_SAP_Status': 61743,
 'Payer_SAP_Code': 61743}

##### It looks like worksheet 1 & 2 are the exact same

##### Worksheet 3

In [18]:
df2.head()

             Row Labels  Count of Payer_District_Division
0               Atlanta                             84830
1  Jacksonville divisio                             47576
2        Tampa division                             40208
3  Sarasota Ft Myers Di                             34409
4               East NC                             34082

##### Worksheet 4

In [20]:
df3.head(10)

    Row Labels  Count of Payer_State_Province
0           GA                         140366
1           FL                         136729
2           NC                          61508
3           TX                          41320
4          NaN                          32026
5  Residential                          19582
6           SC                          13711
7   Commercial                           8840
8           AL                           7309
9           MO                           2791

##### Worksheet 5

In [21]:
print(df4)

                Row Labels  Count of Payer_Type
0                 Customer               415902
1  U2-Non-Residential Bldg                27977
2      U1-Residential Bldg                23926
3                   U4-COD                 7204
4                 U3-Civil                 2636
5              Grand Total               477645

##### Worksheet 6

In [22]:
print(df5)

              Row Labels  Count of Payer_RMX_Sub_Segment
0                    NaN                          204204
1          Single Family                          113827
2       Other Commercial                           66901
3                 Active                           57746
4             Commercial                           15467
5     Streets & Highways                            8828
6               Inactive                            3997
7           Multi-Family                            2292
8          INSTITUCIONAL                            2056
9     Res Maint & Repair                             924
10  Parking Lots & Decks                             702
11            Industrial                             337
12      Parks & Stadiums                             184
13                Energy                             104
14         Water & Sewer                              39
15          Agricultural                              20
16  Offic & Mixed Use Bl                              11
17       Airports & Rail                               6
18           Grand Total                          477645

### Worksheets 3-6 are simple pivot tables that can be done through count and group by functions

## **Third Workbook** 
> ### *"Profiability_2021"*

### Map Excel Workbook

In [95]:
xlsx_profit = pd.ExcelFile('Profitability_2021 - AK.xlsx')

#### Get Excel Worksheet Names

In [96]:
sheet_names2 = xlsx_profit.sheet_names

In [97]:
sheet_names2

['Profitability_2021',
 'Profitability_2021 - AK',
 'Top Product Line',
 'Top Customer Location',
 'Top Material',
 'Pack Type',
 'Top Plant - if relevant']

In [101]:
len(sheet_names2)

7

### Create dataframe for each worksheet

##### *Worksheet 1 "Profitability_2021"*

In [102]:
df_ = pd.read_excel(xlsx_profit, sheet_names2[0])

##### *Worksheet 2 "Profitability_2021 - AK"*

In [103]:
df_1 = pd.read_excel(xlsx_profit, sheet_names2[1])

##### *Worksheet 3 "Top Product Line"*

In [104]:
df_2 = pd.read_excel(xlsx_profit, sheet_names2[2])

##### *Worksheet 4 "Top Customer Location"*

In [105]:
df_3 = pd.read_excel(xlsx_profit, sheet_names2[3])

##### *Worksheet 5 "Top Material"*

In [106]:
df_4 = pd.read_excel(xlsx_profit, sheet_names2[4])

##### *Worksheet 6 "Pack Type"*

In [107]:
df_5 = pd.read_excel(xlsx_profit, sheet_names2[5])

##### *Worksheet 7 "Top Plant - if relevant"*

In [108]:
df_6 = pd.read_excel(xlsx_profit, sheet_names2[6])

### Inspect Data

##### Worksheet 1

In [109]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487077 entries, 0 to 487076
Data columns (total 41 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   Source plant                                  487077 non-null  object
 1   Product Packaging                             487077 non-null  object
 2   Plant                                         487077 non-null  object
 3   Transaction Type                              487077 non-null  object
 4   Sales office customer                         487077 non-null  object
 5   Deparment/State customer                      487077 non-null  object
 6   Product line                                  487077 non-null  object
 7   Material                                      487077 non-null  object
 8   Profit Center                                 487077 non-null  object
 9   Profit Center Zone                            486832 non-null  object
 10  Ship to                                       487077 non-null  object
 11  City ship to                                  487077 non-null  object
 12  Shipping Conditions                           487077 non-null  object
 13  Sales office ship to                          487077 non-null  object
 14  Fiscal year/period                            487077 non-null  object
 15  Totals                                        487077 non-null  object
 16  Source plant Key                              487077 non-null  object
 17  Product Packaging Key                         487077 non-null  object
 18  Plant Key                                     487077 non-null  object
 19  Transaction Type Key                          487077 non-null  object
 20  Sales office customer Key                     487077 non-null  object
 21  Customer Key                                  487077 non-null  object
 22  Deparment/State customer Key                  487077 non-null  object
 23  Product line Key                              487077 non-null  object
 24  Material Key                                  487077 non-null  object
 25  Profit Center Key                             487077 non-null  object
 26  Profit Center Zone Key                        487077 non-null  object
 27  Ship to Key                                   487077 non-null  object
 28  City ship to Key                              487077 non-null  object
 29  Shipping Conditions Key                       487077 non-null  object
 30  Sales office ship to Key                      487077 non-null  object
 31  Fiscal year/period Key                        487077 non-null  object
 32  Actual accumulated closing month Company Cur  487077 non-null  float64
 33  Deparment/State ship to                       487077 non-null  object
 34  Presentation pack                             487077 non-null  object
 35  Product type                                  487077 non-null  object
 36  Incoterms                                     487077 non-null  object
 37  Deparment/State ship to Key                   487077 non-null  object
 38  Presentation pack Key                         484157 non-null  object
 39  Product type Key                              487077 non-null  object
 40  Incoterms Key                                 487077 non-null  object
dtypes: float64(1), object(40)
memory usage: 152.4+ MB

In [110]:
df_.describe()

       Actual accumulated closing month Company Cur
count                                  4.870770e+05
mean                                   3.442769e+03
std                                    2.264646e+04
min                                   -5.357440e+05
25%                                    1.132000e+00
50%                                    3.306900e+01
75%                                    1.510140e+02
max                                    1.555891e+06

In [111]:
df_.head()

,Source plant,Product Packaging,Plant,Transaction Type,Sales office customer,Deparment/State customer,Product line,Material,Profit Center,Profit Center Zone,...,Fiscal year/period Key,Actual accumulated closing month Company Cur,Deparment/State ship to,Presentation pack,Product type,Incoterms,Deparment/State ship to Key,Presentation pack Key,Product type Key,Incoterms Key
0,HARLEYVILLE PLANT,BULK,HARLEYVILLE PLANT,F,Wholesales North,Virginia,GREY CEMENT,TYPE I GRAY BULK,Harleyville Plant cement,ZONE CAROLINAS (US,...,2021-12-01T00:00:00.000Z,29.332,South Carolina,Bulk,Type I/II,PICKUP,USSC,46,52,PIK
1,ROBERTA PLANT,BAGS,ROBERTA PLANT,F,Deep South,Georgia,GREY CEMENT,TYPE I GRAY 94LB,Roberta Plant cement,ZONE DEEP SOUTH (U,...,2021-12-01T00:00:00.000Z,0.000,Georgia,94 lbs,Type I/II,DELIVERY,USGA,44,52,DEL
2,ROBERTA PLANT,BULK,DC FP STATESVILLE,F,Carolinas,North Carolina,GREY CEMENT,TYPE I GRAY BULK,DC FP Statesville,ZONE CAROLINAS (US,...,2021-12-01T00:00:00.000Z,27.671,North Carolina,Bulk,Type I/II,DELIVERY,USNC,46,52,DEL
3,ROBERTA PLANT,BULK,ROBERTA PLANT,F,Wholesales South,Alabama,GREY CEMENT,TYPE I GRAY BULK,Roberta Plant cement,ZONE DEEP SOUTH (U,...,2021-12-01T00:00:00.000Z,22.716,Alabama,Bulk,Type I/II,PICKUP,USAL,46,52,PIK
4,NEWBERRY PLANT,BULK,NEWBERRY PLANT,F,Florida,Florida,GREY CEMENT,EcoStrong PLC - TYPE IL GRAY BULK,Plant Newberry Cement,ZONE DEEP SOUTH (U,...,2021-12-01T00:00:00.000Z,33.224,Florida,Bulk,TYPE IL,DELIVERY,USFL,46,93,DEL

In [113]:
df_["Plant"].value_counts().head(6)

ATLANTA PLANT           82710
HARLEYVILLE PLANT       62956
ROBERTA PLANT           54925
NEWBERRY PLANT          50582
MARTINSBURG PLANT       47499
TAMPA GRINDING PLANT    39935
Name: Plant, dtype: int64

#### Count missing values in each column

In [ ]:
#column_names = list(df.columns)
#for column in range(0,len(column_names)):
#    print(df[column_names[column]].isna().value_counts())

In [114]:
df_.isna().sum().to_dict()

{'Source plant': 0,
 'Product Packaging': 0,
 'Plant': 0,
 'Transaction Type': 0,
 'Sales office customer': 0,
 'Deparment/State customer': 0,
 'Product line': 0,
 'Material': 0,
 'Profit Center': 0,
 'Profit Center Zone': 245,
 'Ship to': 0,
 'City ship to': 0,
 'Shipping Conditions': 0,
 'Sales office ship to': 0,
 'Fiscal year/period': 0,
 'Totals': 0,
 'Source plant Key': 0,
 'Product Packaging Key': 0,
 'Plant Key': 0,
 'Transaction Type Key': 0,
 'Sales office customer Key': 0,
 'Customer Key': 0,
 'Deparment/State customer Key': 0,
 'Product line Key': 0,
 'Material Key': 0,
 'Profit Center Key': 0,
 'Profit Center Zone Key': 0,
 'Ship to Key': 0,
 'City ship to Key': 0,
 'Shipping Conditions Key': 0,
 'Sales office ship to Key': 0,
 'Fiscal year/period Key': 0,
 'Actual accumulated closing month Company Cur': 0,
 'Deparment/State ship to': 0,
 'Presentation pack': 0,
 'Product type': 0,
 'Incoterms': 0,
 'Deparment/State ship to Key': 0,
 'Presentation pack Key': 2920,
 'Product type Key': 0,
 'Incoterms Key': 0}

##### Worksheet 2

In [115]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487077 entries, 0 to 487076
Data columns (total 41 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   Source plant                                  487077 non-null  object
 1   Product Packaging                             487077 non-null  object
 2   Plant                                         487077 non-null  object
 3   Transaction Type                              487077 non-null  object
 4   Sales office customer                         487077 non-null  object
 5   Deparment/State customer                      487077 non-null  object
 6   Product line                                  487077 non-null  object
 7   Material                                      487077 non-null  object
 8   Profit Center                                 487077 non-null  object
 9   Profit Center Zone                            486832 non-null  object
 10  Ship to                                       487077 non-null  object
 11  City ship to                                  487077 non-null  object
 12  Shipping Conditions                           487077 non-null  object
 13  Sales office ship to                          487077 non-null  object
 14  Fiscal year/period                            487077 non-null  object
 15  Totals                                        487077 non-null  object
 16  Source plant Key                              487077 non-null  object
 17  Product Packaging Key                         487077 non-null  object
 18  Plant Key                                     487077 non-null  object
 19  Transaction Type Key                          487077 non-null  object
 20  Sales office customer Key                     487077 non-null  object
 21  Customer Key                                  487077 non-null  object
 22  Deparment/State customer Key                  487077 non-null  object
 23  Product line Key                              487077 non-null  object
 24  Material Key                                  487077 non-null  object
 25  Profit Center Key                             487077 non-null  object
 26  Profit Center Zone Key                        487077 non-null  object
 27  Ship to Key                                   487077 non-null  object
 28  City ship to Key                              487077 non-null  object
 29  Shipping Conditions Key                       487077 non-null  object
 30  Sales office ship to Key                      487077 non-null  object
 31  Fiscal year/period Key                        487077 non-null  object
 32  Actual accumulated closing month Company Cur  487077 non-null  float64
 33  Deparment/State ship to                       487077 non-null  object
 34  Presentation pack                             487077 non-null  object
 35  Product type                                  487077 non-null  object
 36  Incoterms                                     487077 non-null  object
 37  Deparment/State ship to Key                   487077 non-null  object
 38  Presentation pack Key                         484157 non-null  object
 39  Product type Key                              487077 non-null  object
 40  Incoterms Key                                 487077 non-null  object
dtypes: float64(1), object(40)
memory usage: 152.4+ MB

In [116]:
df_1.describe()

       Actual accumulated closing month Company Cur
count                                  4.870770e+05
mean                                   3.442769e+03
std                                    2.264646e+04
min                                   -5.357440e+05
25%                                    1.132000e+00
50%                                    3.306900e+01
75%                                    1.510140e+02
max                                    1.555891e+06

In [117]:
df_1.isna().sum().to_dict()

{'Source plant': 0,
 'Product Packaging': 0,
 'Plant': 0,
 'Transaction Type': 0,
 'Sales office customer': 0,
 'Deparment/State customer': 0,
 'Product line': 0,
 'Material': 0,
 'Profit Center': 0,
 'Profit Center Zone': 245,
 'Ship to': 0,
 'City ship to': 0,
 'Shipping Conditions': 0,
 'Sales office ship to': 0,
 'Fiscal year/period': 0,
 'Totals': 0,
 'Source plant Key': 0,
 'Product Packaging Key': 0,
 'Plant Key': 0,
 'Transaction Type Key': 0,
 'Sales office customer Key': 0,
 'Customer Key': 0,
 'Deparment/State customer Key': 0,
 'Product line Key': 0,
 'Material Key': 0,
 'Profit Center Key': 0,
 'Profit Center Zone Key': 0,
 'Ship to Key': 0,
 'City ship to Key': 0,
 'Shipping Conditions Key': 0,
 'Sales office ship to Key': 0,
 'Fiscal year/period Key': 0,
 'Actual accumulated closing month Company Cur': 0,
 'Deparment/State ship to': 0,
 'Presentation pack': 0,
 'Product type': 0,
 'Incoterms': 0,
 'Deparment/State ship to Key': 0,
 'Presentation pack Key': 2920,
 'Product type Key': 0,
 'Incoterms Key': 0}

##### It looks like worksheet 1 & 2 are the exact same

##### Worksheet 3

In [118]:
df_2.head()

               Row Labels  Count of Product line    Unnamed: 2
0             GREY CEMENT                 244858  *Top drivers
1          MASONRY CEMENT                 210867           NaN
2             Slag Cement                  16390           NaN
3            WHITE CEMENT                   6976           NaN
4  RAW MATERIALS (CEMENT)                   3051           NaN

##### Worksheet 4

In [119]:
df_3.head(10)

       Row Labels  Count of Deparment/State customer
0         Florida                              79125
1         Georgia                              73247
2  North Carolina                              68617
3        Maryland                              33521
4           Texas                              31384
5  South Carolina                              29821
6       Tennessee                              29782
7         Alabama                              26276
8        Virginia                              22773
9    Pennsylvania                              20521

##### Worksheet 5

In [120]:
print(df_4)

                            Row Labels  Count of Material
0                  TYPE I/II GRAY BULK              82481
1                     TYPE I GRAY BULK              77089
2    EcoStrong PLC - TYPE IL GRAY BULK              17739
3                  TYPE I/II GRAY 94LB              17479
4              MASONRY S MAGNOLIA 75LB              15444
..                                 ...                ...
246                       SHALE /MINED                  3
247                BLACK SHALE CRUSHED                  3
248                        BLACK SHALE                  3
249              TYPE 1S(85) GRAY BULK                  2
250                        Grand Total             487077

[251 rows x 2 columns]

##### Worksheet 6

In [121]:
print(df_5)

       Row Labels  Count of Presentation pack
0            Bulk                      232641
1          70 lbs                      111504
2          75 lbs                       72856
3          94 lbs                       34136
4          80 lbs                       19048
5    Not assigned                        7731
6      BP MASONRY                        5536
7       No Aplica                        2920
8          50 lbs                         488
9   Big Bag 1.0 T                         137
10  BIG BAG 1,5 t                          72
11          40 KG                           8
12    Grand Total                      487077

##### Worksheet 7

In [122]:
print(df_6)

                        Row Labels  Count of Source plant  \
0                    ATLANTA PLANT                 117477
1                MARTINSBURG PLANT                  86373
2                    ROBERTA PLANT                  85528
3                   NEWBERRY PLANT                  74626
4                HARLEYVILLE PLANT                  53773
5             TAMPA GRINDING PLANT                  26263
6                     Not assigned                  23006
7                  DC FP LEETSDALE                   4829
8                  DC FP FREDERICK                   3140
9                 DC FP CHESAPEAKE                   1693
10                  DC FP MERIDIAN                   1094
11                    DC FP MOBILE                    956
12  MKTING & SALES HOLCIM HOLL HIL                    938
13                    BUZZI UNICEM                    753
14                DC FP WILMINGTON                    661
15                 HOLCIM (US) INC                    624
16        DC FP MASSILLON TERMINAL                    608
17                DC FP CURTIS BAY                    570
18                   DC FP HOUSTON                    534
19                  ROANOKE CEMENT                    478
20               TITAN AMERICA INC                    467
21                  DC FP SAVANNAH                    453
22                    DC FP DURHAM                    402
23                   DC FP CORDELE                    318
24                   DC FP ASHLAND                    286
25      DC FP CLN CHARLOTTE BONDED                    280
26                    DC FP NEWNAN                    276
27               DC FP STATESVILLE                    120
28              DC FP FAYETTEVILLE                    112
29    DC FP BATON ROUGE WHS - TT&H                    100
30                             200                     72
31            PLANTA ZFA CARTAGENA                     61
32             DC FP SESCO HOUSTON                     52
33                       CEMEX INC                     50
34         DC FP EASTERN KNOXVILLE                     44
35  MKTING & SALES SRM HOLLINGSHED                     30
36                DC FP GREENVILLE                     10
37  MKTING & SALES ARGOS LGH TAMPA                      8
38  DC FP KNOXVILL WHS - R&S LOGIS                      4
39        DC FP SAVANNAH WHSâ€“SRL                      4
40  DC FP MERIDIAN - D&D TRANS INC                      4
41                     Grand Total                 487077

                     Unnamed: 2
0   *Probably drive most profit
1                           NaN
2                           NaN
3                           NaN
4                           NaN
5                           NaN
6                           NaN
7                           NaN
8                           NaN
9                           NaN
10                          NaN
11                          NaN
12                          NaN
13                          NaN
14                          NaN
15                          NaN
16                          NaN
17                          NaN
18                          NaN
19                          NaN
20                          NaN
21                          NaN
22                          NaN
23                          NaN
24                          NaN
25                          NaN
26                          NaN
27                          NaN
28                          NaN
29                          NaN
30                          NaN
31                          NaN
32                          NaN
33                          NaN
34                          NaN
35                          NaN
36                          NaN
37                          NaN
38                          NaN
39                          NaN
40                          NaN
41                          NaN

### Worksheets 3-6 are simple pivot tables that can be done through count and group by functions