# Argos Capstone Project

## **First Workbook**
> ### *"RMX_Accounts_invoice"*

##### Set working directory and import libraries

In [1]:
import os
os.getcwd()
os.chdir('/Users/brandonmorgeson/Desktop/Capstone')

In [2]:
import numpy as np 
import pandas as pd 
import openpyxl as op

### Map Excel Workbook

In [3]:
xlsx = pd.ExcelFile('RMX_Accounts_invoice - AK.xlsx')

#### Get Excel Worksheet Names

In [4]:
sheet_names = xlsx.sheet_names

In [5]:
sheet_names

['RMX_Accounts_invoice',
 'RMX_Accounts_invoice - AK',
 'Payer Division',
 'Payer Top State',
 'Payer Type',
 'Sub-Segment']

In [6]:
len(sheet_names)

6

### Create dataframe for worksheet

##### *Worksheet 1 "RMX_Accounts_invoice"*

In [7]:
df = pd.read_excel(xlsx, sheet_names[0])

##### *Worksheet 2 "RMX_Accounts_invoice - AK"*

In [8]:
df1 = pd.read_excel(xlsx, sheet_names[1])

##### *Worksheet 3 "Payer Divison"*

In [9]:
df2 = pd.read_excel(xlsx, sheet_names[2])

##### *Worksheet 4 "Payer Top State"*

In [10]:
df3 = pd.read_excel(xlsx, sheet_names[3])

##### *Worksheet 5 "Payer Type"*

In [11]:
df4 = pd.read_excel(xlsx, sheet_names[4])

##### *Worksheet 6 "Sub-Segment"*

In [12]:
df5 = pd.read_excel(xlsx, sheet_names[5])

### Inspect Data

##### Worksheet 1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477645 entries, 0 to 477644
Data columns (total 10 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Payer_Type                    477645 non-null  object
 1   Payer_District_Division       477420 non-null  object
 2   Payer_Channel                 477645 non-null  object
 3   Payer_Sales_Group_Sub_Market  477645 non-null  object
 4   Invoice_Number                445619 non-null  object
 5   Payer_State_Province          445619 non-null  object
 6   Payer_RMX_Sub_Segment         273441 non-null  object
 7   Payer_RMX_Segment             273441 non-null  object
 8   Payer_SAP_Status              415902 non-null  object
 9   Payer_SAP_Code                415902 non-null  float64
dtypes: float64(1), object(9)
memory usage: 36.4+ MB

In [24]:
df.describe()

       Payer_SAP_Code
count   415902.000000
mean     36349.950597
std      32394.950842
min        951.000000
25%      14675.000000
50%      20026.000000
75%      45079.000000
max     134154.000000

In [15]:
df.head()

,Payer_Type,Payer_District_Division,Payer_Channel,Payer_Sales_Group_Sub_Market,Invoice_Number,Payer_State_Province,Payer_RMX_Sub_Segment,Payer_RMX_Segment,Payer_SAP_Status,Payer_SAP_Code
0,Customer,Jacksonville divisio,U2-Non-Residential Bldg,U18-Jacksonville divisio,92676710,FL,Other Commercial,Commercial,Active,113496.0
1,Customer,Jacksonville divisio,U2-Non-Residential Bldg,U18-Jacksonville divisio,92380768,FL,Other Commercial,Commercial,Active,113496.0
2,Customer,Jacksonville divisio,U2-Non-Residential Bldg,U18-Jacksonville divisio,92286652,FL,Other Commercial,Commercial,Active,113496.0
3,Customer,Dallas,U1-Residential Bldg,U16-Dallas,92180098,TX,NaN,NaN,Active,105611.0
4,Customer,Atlanta,U1-Residential Bldg,U10-Atlanta,92810234,GA,Single Family,Residential,Active,9004.0

In [91]:
df["Payer_State_Province"].value_counts().head(6)

GA             140366
FL             136729
NC              61508
TX              41320
Residential     19582
SC              13711
Name: Payer_State_Province, dtype: int64

#### Count missing values in each column

In [ ]:
#column_names = list(df.columns)
#for column in range(0,len(column_names)):
#    print(df[column_names[column]].isna().value_counts())

In [86]:
df.isna().sum().to_dict()

{'Payer_Type': 0,
 'Payer_District_Division': 225,
 'Payer_Channel': 0,
 'Payer_Sales_Group_Sub_Market': 0,
 'Invoice_Number': 32026,
 'Payer_State_Province': 32026,
 'Payer_RMX_Sub_Segment': 204204,
 'Payer_RMX_Segment': 204204,
 'Payer_SAP_Status': 61743,
 'Payer_SAP_Code': 61743}

##### Worksheet 2

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477645 entries, 0 to 477644
Data columns (total 10 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Payer_Type                    477645 non-null  object
 1   Payer_District_Division       477420 non-null  object
 2   Payer_Channel                 477645 non-null  object
 3   Payer_Sales_Group_Sub_Market  477645 non-null  object
 4   Invoice_Number                445619 non-null  object
 5   Payer_State_Province          445619 non-null  object
 6   Payer_RMX_Sub_Segment         273441 non-null  object
 7   Payer_RMX_Segment             273441 non-null  object
 8   Payer_SAP_Status              415902 non-null  object
 9   Payer_SAP_Code                415902 non-null  float64
dtypes: float64(1), object(9)
memory usage: 36.4+ MB

In [17]:
df1.describe()

       Payer_SAP_Code
count   415902.000000
mean     36349.950597
std      32394.950842
min        951.000000
25%      14675.000000
50%      20026.000000
75%      45079.000000
max     134154.000000

In [92]:
df1.isna().sum().to_dict()

{'Payer_Type': 0,
 'Payer_District_Division': 225,
 'Payer_Channel': 0,
 'Payer_Sales_Group_Sub_Market': 0,
 'Invoice_Number': 32026,
 'Payer_State_Province': 32026,
 'Payer_RMX_Sub_Segment': 204204,
 'Payer_RMX_Segment': 204204,
 'Payer_SAP_Status': 61743,
 'Payer_SAP_Code': 61743}

##### It looks like worksheet 1 & 2 are the exact same

##### Worksheet 3

In [18]:
df2.head()

             Row Labels  Count of Payer_District_Division
0               Atlanta                             84830
1  Jacksonville divisio                             47576
2        Tampa division                             40208
3  Sarasota Ft Myers Di                             34409
4               East NC                             34082

##### Worksheet 4

In [20]:
df3.head(10)

    Row Labels  Count of Payer_State_Province
0           GA                         140366
1           FL                         136729
2           NC                          61508
3           TX                          41320
4          NaN                          32026
5  Residential                          19582
6           SC                          13711
7   Commercial                           8840
8           AL                           7309
9           MO                           2791

##### Worksheet 5

In [21]:
print(df4)

                Row Labels  Count of Payer_Type
0                 Customer               415902
1  U2-Non-Residential Bldg                27977
2      U1-Residential Bldg                23926
3                   U4-COD                 7204
4                 U3-Civil                 2636
5              Grand Total               477645

##### Worksheet 6

In [22]:
print(df5)

              Row Labels  Count of Payer_RMX_Sub_Segment
0                    NaN                          204204
1          Single Family                          113827
2       Other Commercial                           66901
3                 Active                           57746
4             Commercial                           15467
5     Streets & Highways                            8828
6               Inactive                            3997
7           Multi-Family                            2292
8          INSTITUCIONAL                            2056
9     Res Maint & Repair                             924
10  Parking Lots & Decks                             702
11            Industrial                             337
12      Parks & Stadiums                             184
13                Energy                             104
14         Water & Sewer                              39
15          Agricultural                              20
16  Offic & Mixed Use Bl                              11
17       Airports & Rail                               6
18           Grand Total                          477645

### Worksheets 3-6 are simple pivot tables that can be done through count and group by functions

## **Second Workbook** 
> ### *"Profiability_2021"*

### Map Excel Workbook

In [95]:
xlsx_profit = pd.ExcelFile('Profitability_2021 - AK.xlsx')

#### Get Excel Worksheet Names

In [96]:
sheet_names2 = xlsx_profit.sheet_names

In [97]:
sheet_names2

['Profitability_2021',
 'Profitability_2021 - AK',
 'Top Product Line',
 'Top Customer Location',
 'Top Material',
 'Pack Type',
 'Top Plant - if relevant']

In [101]:
len(sheet_names2)

7

### Create dataframe for each worksheet

##### *Worksheet 1 "Profitability_2021"*

In [102]:
df_ = pd.read_excel(xlsx_profit, sheet_names2[0])

##### *Worksheet 2 "Profitability_2021 - AK"*

In [103]:
df_1 = pd.read_excel(xlsx_profit, sheet_names2[1])

##### *Worksheet 3 "Top Product Line"*

In [104]:
df_2 = pd.read_excel(xlsx_profit, sheet_names2[2])

##### *Worksheet 4 "Top Customer Location"*

In [105]:
df_3 = pd.read_excel(xlsx_profit, sheet_names2[3])

##### *Worksheet 5 "Top Material"*

In [106]:
df_4 = pd.read_excel(xlsx_profit, sheet_names2[4])

##### *Worksheet 6 "Pack Type"*

In [107]:
df_5 = pd.read_excel(xlsx_profit, sheet_names2[5])

##### *Worksheet 7 "Top Plant - if relevant"*

In [108]:
df_6 = pd.read_excel(xlsx_profit, sheet_names2[6])

### Inspect Data

##### Worksheet 1

In [109]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487077 entries, 0 to 487076
Data columns (total 41 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   Source plant                                  487077 non-null  object
 1   Product Packaging                             487077 non-null  object
 2   Plant                                         487077 non-null  object
 3   Transaction Type                              487077 non-null  object
 4   Sales office customer                         487077 non-null  object
 5   Deparment/State customer                      487077 non-null  object
 6   Product line                                  487077 non-null  object
 7   Material                                      487077 non-null  object
 8   Profit Center                                 487077 non-null  object
 9   Profit Center Zone                            486832 non-null  object
 10  Ship to                                       487077 non-null  object
 11  City ship to                                  487077 non-null  object
 12  Shipping Conditions                           487077 non-null  object
 13  Sales office ship to                          487077 non-null  object
 14  Fiscal year/period                            487077 non-null  object
 15  Totals                                        487077 non-null  object
 16  Source plant Key                              487077 non-null  object
 17  Product Packaging Key                         487077 non-null  object
 18  Plant Key                                     487077 non-null  object
 19  Transaction Type Key                          487077 non-null  object
 20  Sales office customer Key                     487077 non-null  object
 21  Customer Key                                  487077 non-null  object
 22  Deparment/State customer Key                  487077 non-null  object
 23  Product line Key                              487077 non-null  object
 24  Material Key                                  487077 non-null  object
 25  Profit Center Key                             487077 non-null  object
 26  Profit Center Zone Key                        487077 non-null  object
 27  Ship to Key                                   487077 non-null  object
 28  City ship to Key                              487077 non-null  object
 29  Shipping Conditions Key                       487077 non-null  object
 30  Sales office ship to Key                      487077 non-null  object
 31  Fiscal year/period Key                        487077 non-null  object
 32  Actual accumulated closing month Company Cur  487077 non-null  float64
 33  Deparment/State ship to                       487077 non-null  object
 34  Presentation pack                             487077 non-null  object
 35  Product type                                  487077 non-null  object
 36  Incoterms                                     487077 non-null  object
 37  Deparment/State ship to Key                   487077 non-null  object
 38  Presentation pack Key                         484157 non-null  object
 39  Product type Key                              487077 non-null  object
 40  Incoterms Key                                 487077 non-null  object
dtypes: float64(1), object(40)
memory usage: 152.4+ MB

In [110]:
df_.describe()

       Actual accumulated closing month Company Cur
count                                  4.870770e+05
mean                                   3.442769e+03
std                                    2.264646e+04
min                                   -5.357440e+05
25%                                    1.132000e+00
50%                                    3.306900e+01
75%                                    1.510140e+02
max                                    1.555891e+06

In [111]:
df_.head()

,Source plant,Product Packaging,Plant,Transaction Type,Sales office customer,Deparment/State customer,Product line,Material,Profit Center,Profit Center Zone,...,Fiscal year/period Key,Actual accumulated closing month Company Cur,Deparment/State ship to,Presentation pack,Product type,Incoterms,Deparment/State ship to Key,Presentation pack Key,Product type Key,Incoterms Key
0,HARLEYVILLE PLANT,BULK,HARLEYVILLE PLANT,F,Wholesales North,Virginia,GREY CEMENT,TYPE I GRAY BULK,Harleyville Plant cement,ZONE CAROLINAS (US,...,2021-12-01T00:00:00.000Z,29.332,South Carolina,Bulk,Type I/II,PICKUP,USSC,46,52,PIK
1,ROBERTA PLANT,BAGS,ROBERTA PLANT,F,Deep South,Georgia,GREY CEMENT,TYPE I GRAY 94LB,Roberta Plant cement,ZONE DEEP SOUTH (U,...,2021-12-01T00:00:00.000Z,0.000,Georgia,94 lbs,Type I/II,DELIVERY,USGA,44,52,DEL
2,ROBERTA PLANT,BULK,DC FP STATESVILLE,F,Carolinas,North Carolina,GREY CEMENT,TYPE I GRAY BULK,DC FP Statesville,ZONE CAROLINAS (US,...,2021-12-01T00:00:00.000Z,27.671,North Carolina,Bulk,Type I/II,DELIVERY,USNC,46,52,DEL
3,ROBERTA PLANT,BULK,ROBERTA PLANT,F,Wholesales South,Alabama,GREY CEMENT,TYPE I GRAY BULK,Roberta Plant cement,ZONE DEEP SOUTH (U,...,2021-12-01T00:00:00.000Z,22.716,Alabama,Bulk,Type I/II,PICKUP,USAL,46,52,PIK
4,NEWBERRY PLANT,BULK,NEWBERRY PLANT,F,Florida,Florida,GREY CEMENT,EcoStrong PLC - TYPE IL GRAY BULK,Plant Newberry Cement,ZONE DEEP SOUTH (U,...,2021-12-01T00:00:00.000Z,33.224,Florida,Bulk,TYPE IL,DELIVERY,USFL,46,93,DEL

In [91]:
df_["Payer_State_Province"].value_counts().head(6)

GA             140366
FL             136729
NC              61508
TX              41320
Residential     19582
SC              13711
Name: Payer_State_Province, dtype: int64

#### Count missing values in each column

In [ ]:
#column_names = list(df.columns)
#for column in range(0,len(column_names)):
#    print(df[column_names[column]].isna().value_counts())

In [86]:
df_.isna().sum().to_dict()

{'Payer_Type': 0,
 'Payer_District_Division': 225,
 'Payer_Channel': 0,
 'Payer_Sales_Group_Sub_Market': 0,
 'Invoice_Number': 32026,
 'Payer_State_Province': 32026,
 'Payer_RMX_Sub_Segment': 204204,
 'Payer_RMX_Segment': 204204,
 'Payer_SAP_Status': 61743,
 'Payer_SAP_Code': 61743}

##### Worksheet 2

In [16]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477645 entries, 0 to 477644
Data columns (total 10 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Payer_Type                    477645 non-null  object
 1   Payer_District_Division       477420 non-null  object
 2   Payer_Channel                 477645 non-null  object
 3   Payer_Sales_Group_Sub_Market  477645 non-null  object
 4   Invoice_Number                445619 non-null  object
 5   Payer_State_Province          445619 non-null  object
 6   Payer_RMX_Sub_Segment         273441 non-null  object
 7   Payer_RMX_Segment             273441 non-null  object
 8   Payer_SAP_Status              415902 non-null  object
 9   Payer_SAP_Code                415902 non-null  float64
dtypes: float64(1), object(9)
memory usage: 36.4+ MB

In [17]:
df_1.describe()

       Payer_SAP_Code
count   415902.000000
mean     36349.950597
std      32394.950842
min        951.000000
25%      14675.000000
50%      20026.000000
75%      45079.000000
max     134154.000000

In [92]:
df_1.isna().sum().to_dict()

{'Payer_Type': 0,
 'Payer_District_Division': 225,
 'Payer_Channel': 0,
 'Payer_Sales_Group_Sub_Market': 0,
 'Invoice_Number': 32026,
 'Payer_State_Province': 32026,
 'Payer_RMX_Sub_Segment': 204204,
 'Payer_RMX_Segment': 204204,
 'Payer_SAP_Status': 61743,
 'Payer_SAP_Code': 61743}

##### It looks like worksheet 1 & 2 are the exact same

##### Worksheet 3

In [18]:
df_2.head()

             Row Labels  Count of Payer_District_Division
0               Atlanta                             84830
1  Jacksonville divisio                             47576
2        Tampa division                             40208
3  Sarasota Ft Myers Di                             34409
4               East NC                             34082

##### Worksheet 4

In [20]:
df_3.head(10)

    Row Labels  Count of Payer_State_Province
0           GA                         140366
1           FL                         136729
2           NC                          61508
3           TX                          41320
4          NaN                          32026
5  Residential                          19582
6           SC                          13711
7   Commercial                           8840
8           AL                           7309
9           MO                           2791

##### Worksheet 5

In [21]:
print(df_4)

                Row Labels  Count of Payer_Type
0                 Customer               415902
1  U2-Non-Residential Bldg                27977
2      U1-Residential Bldg                23926
3                   U4-COD                 7204
4                 U3-Civil                 2636
5              Grand Total               477645

##### Worksheet 6

In [22]:
print(df_5)

              Row Labels  Count of Payer_RMX_Sub_Segment
0                    NaN                          204204
1          Single Family                          113827
2       Other Commercial                           66901
3                 Active                           57746
4             Commercial                           15467
5     Streets & Highways                            8828
6               Inactive                            3997
7           Multi-Family                            2292
8          INSTITUCIONAL                            2056
9     Res Maint & Repair                             924
10  Parking Lots & Decks                             702
11            Industrial                             337
12      Parks & Stadiums                             184
13                Energy                             104
14         Water & Sewer                              39
15          Agricultural                              20
16  Offic & Mixed Use Bl                              11
17       Airports & Rail                               6
18           Grand Total                          477645

##### Worksheet 7

In [22]:
print(df_6)

              Row Labels  Count of Payer_RMX_Sub_Segment
0                    NaN                          204204
1          Single Family                          113827
2       Other Commercial                           66901
3                 Active                           57746
4             Commercial                           15467
5     Streets & Highways                            8828
6               Inactive                            3997
7           Multi-Family                            2292
8          INSTITUCIONAL                            2056
9     Res Maint & Repair                             924
10  Parking Lots & Decks                             702
11            Industrial                             337
12      Parks & Stadiums                             184
13                Energy                             104
14         Water & Sewer                              39
15          Agricultural                              20
16  Offic & Mixed Use Bl                              11
17       Airports & Rail                               6
18           Grand Total                          477645